<section id="login">
  <div class="container-fluid py-5">
    <div class="d-flex justify-content-center">
      <div class="form-container">
        <div class="title">
          <h3><span class="title-regular">Iniciar Sesión</span></h3>
          <h5>Ingrese sus credenciales de usuario</h5>
        </div>
        <form>
          <div class="mb-3">
            <label for="correo" class="form-label">Ingrese su correo</label>
            <input type="email" class="form-control" id="correo" placeholder="Correo(*)">
          </div>
          <div class="mb-3">
            <label for="contrasena" class="form-label">Ingrese su contraseña</label>
            <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
          </div>
          <div class="d-grid py-4">
            <button type="submit" class="btn btn-primary text-center">Ingresar</button>
          </div>

          <div class="row text-center">
            <div class="col-7"><a href="">Recuperar contraseña</a></div>
            <div class="col-5"><a href="registrar">Crear Usuario</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
