<!-- Sección Nosotros -->
<section id="nosotros" class="">
  <div class="contaier-fluid">
    <div class="title-page">
      <h3>Nosotros</h3>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="px-3 px-md-0">
          <p class="text-p">Vilches y Murillo es un taller especializado en reparación de vehículos con amplia experiencia en el
            mercado, más de 20 años de servicio. Equipados con tecnología y personal altamente calificado, lo que garantiza
            la calidad de servicio.

            Contamos con una amplia variedad de prestaciones y trabajamos con repuestos
            originales, y ofrecemos un servicio de mecánica integral para todos los modelos y marcas de vehículos del
            mercado.</p>
          <div class="icons-container">
            <ul class="icons d-flex p-0">
              <li><i class="fa-solid fa-square-phone"></i></li>
              <li><i class="fa-brands fa-whatsapp-square"></i></li>
              <li><i class="fas fa-envelope-square"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="py-2 px-3 text-center">
          <img src="assets/img/nosotros.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fin Sección Nosotros -->
