<nav class="navbar navbar-expand-lg navbar-light bg-light pb-1 pt-1">
  <div class="container">
    <a class="navbar-brand" href=""><img src="assets/icon/logo.svg" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav align-items-center p-2 p-md-0">
        <a class="nav-link my-2 mx-md-4" routerLink="" routerLinkActive="active"
          [routerLinkActiveOptions]={exact:true}><i class="fa-solid fa-house"></i>  Inicio</a>
        <a class="nav-link my-2 mx-md-4" routerLink="nosotros" routerLinkActive="active"><i class="fas fa-user"></i>  Nosotros</a>
        <a class="nav-link my-2 mx-md-4" routerLink="servicios" routerLinkActive="active"><i class="fas fa-wrench"></i>  Servicios</a>
        <a class="nav-link my-2 mx-md-4" routerLink="contacto" routerLinkActive="active"><i class="fas fa-envelope"></i>  Contacto</a>
        <!-- <a class="nav-link special reservation my-2 mx-md-4" routerLink="registro">Reservar Hora</a>
          <a class="nav-link my-2 mx-md-4" routerLink="ingreso" routerLinkActive="active"><i class="fa-solid fa-right-to-bracket pe-1"></i> Ingreso</a>
          <a class="nav-link special register my-2 mx-md-4" routerLink="registro" routerLinkActive="active"><i class="fa-solid fa-user-plus pe-1"></i> Registro</a> -->
      </div>
    </div>
  </div>
</nav>