<div class="container-fluid footer p-0">
  <div class="container">
    <footer class="d-flex flex-column flex-md-row py-3 py-md-5 justify-content-between text-center text-md-start">
      <div class="pb-3 py-md-0">
        <a class="navbar-brand" routerLink=""><img src="assets/icon/logo-blanco.svg" alt=""></a>
      </div>
      <div class="py-3 py-md-0">
        <ul class="nav d-flex flex-row flex-md-column justify-content-between flex-wrap">
          <li class="nav-item my-2 mx-md-4"><a routerLink="" class="nav-link p-0 text-muted">Inicio</a></li>
          <li class="nav-item my-2 mx-md-4"><a routerLink="nosotros" class="nav-link p-0 text-muted">Nosotros</a></li>
          <li class="nav-item my-2 mx-md-4"><a routerLink="servicios" class="nav-link p-0 text-muted">Servicios</a></li>
          <li class="nav-item my-2 mx-md-4"><a routerLink="contacto" class="nav-link p-0 text-muted">Contacto</a></li>
        </ul>
      </div>
      <div class="py-3 py-md-0">
        <h5 class="mb-3">Horario de atención</h5>
        <p>Lunes a Viernes de 9:30 a 19:00<br>
          Sábados de 9:30 a 14:00 y Domingo Cerrado</p>
      </div>
      <div class="py-3 py-md-0">
        <h5 class="mb-3">contacto</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><i class="fa-solid fa-envelope"></i> vilchesymurillo@gmail.com</li>
          <li class="nav-item mb-2"><i class="fa-solid fa-phone"></i> +56 9 23453234</li>
          <li class="nav-item mb-2"><i class="fa-solid fa-location-dot"></i> Av. Pacifico 4646, Gómez Carreño, Viña del
            Mar.</li>
        </ul>
      </div>

    </footer>
  </div>
  <div class="container-fluid copyright-section p-3 align-items-center">
    <p class="m-0 text-md-end text-center">© {{anio}} Vilches y Murillo ltda. TODOS LOS DERECHOS RESERVADOS</p>
  </div>
</div>