/* mat-form-field{
    width: 100%;
}

#dvrun{
    width: 100%;

}

#select{
    width: 50%;
    margin-right: 6rem;
}

.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
