<section class="admin-page">
  <div class="container-fluid p-0">
    <div class="route">
      <span>Admin</span>
      <mat-icon>keyboard_arrow_right</mat-icon>
      <span class="current">Home</span>
    </div>
  </div>
  <div class="py-3">
    <mat-card class="py-3">
      <div class="message">
        <h4>Panel Administrativo</h4>
        <p>Este es panel administrativo del taller automotriz Vilches y Murillo, aquí podrás consultar y actualizar información
          relevante para tu taller. Para comenzar selecciona alguno de los enlaces de la barra lateral.
        </p>
      </div>
    </mat-card>
  </div>

</section>
