/* Login form */
#registro {
  color: rgba(27, 9, 190, 0.5);
  background: linear-gradient(0deg, rgba(55, 89, 139, 0.7), rgba(55, 89, 139, 0.7)), url('../../../../assets/img/motor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .box {
    height: 500px;
    overflow: auto;
  }

}
