<section id="registro">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center py-5">
      <div class=" col-5 form-container">
        <div class="title py-2">
          <h3><span class="title-regular">Registro de Usuario</span></h3>
          <h5>Datos de contácto</h5>
        </div>
        <form>
          <div class="box">
            <div class="mb-3">
              <label for="correo" class="form-label">Ingrese su correo</label>
              <input type="email" class="form-control" id="correo" placeholder="Correo(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Ingrese su contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Contraseña(*)">
            </div>
          </div>

          <div class="d-grid py-4">
            <button type="submit" class="btn btn-primary text-center">Crear Usuario</button>
          </div>

          <div class="row text-center">
            <div class="col-7"><a href="">Recuperar contraseña</a></div>
            <div class="col-5"><a href="registrar">Crear Usuario</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
