<section id="not-found">
  <div class="container-fluid py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-5 text-center">
        <div class="form-container">
          <div class="title">
            <h3>Página no encontrada</h3>
            <p>Lo sentimos pero la página que busca no se encuentra disponible.</p>
          </div>
          <img src="assets/img/404.png" alt="not-found" class="img-fluid">
          <div class="d-grid">
            <a routerLink="" class="btn btn-primary"><span>Volver</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
